<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Authors</h1>
      <nav>
        <ul>
          <li><a href="/Home">Home</a></li>
          <li><a href="/authors/new">Create a new author</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
