<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1><%=author.name%>'s Page</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/authors">Authors Index</a></li>

        </ul>
      </nav>
    </header>

<main>
  <section>
    <h2>Author Attributes</h2>
    <ul>
      <li>Name: <%=author.name%></li>
    </ul>
    <form  action="/authors/<%=author.id%>?_method=DELETE" method="POST">
<button type="submit">delete author</button>
</form>
  </section>
</main>


  </body>
</html>
